<Section class="py-5 shadow-lg p-2 mb-3 bg-transparent rounded homesec text-center">
    <Div class="container homectnr">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center p-1">

                <a>
                    <img src="https://static.jazp.com/assets/productcategory/2655b924fa6c67d4834008a74ca2f898.png"
                        alt="Electronics &amp; Tools">
                    <h4>Electronics & Tools</h4>
                </a>
                <!-- <a>
                    <img src="https://static.jazp.com/assets/productcategory/a6e58521dcd5b0024395ebc512883eff.png"
                        alt="Electronics &amp; Tools">
                    <h4>Mobile Tablets</h4>

                </a> -->
                <a>
                    <img src="https://static.jazp.com/assets/productcategory/16defceb2445001eed1f30f64a1c38d0.png"
                        alt="Electronics &amp; Tools">
                    <h4>Beauty & Health</h4>
                </a>
                <a>
                    <img src="https://static.jazp.com/assets/productcategory/d77f016807241e7a2db89a881dff0e29.png"
                        alt="Electronics &amp; Tools">
                    <h4>Baby Products</h4>
                </a>
                <a>
                    <img src="https://static.jazp.com/assets/productcategory/c98d45165a2176182abf944369da972e.png"
                        alt="Electronics &amp; Tools">
                    <h4>PCs & Laptop</h4>
                </a>
                <a>
                    <img src="https://static.jazp.com/assets/productcategory/a2a98ba8d98cdda253d339f61daa4b4c.png"
                        alt="Electronics &amp; Tools">
                    <h4>Supermarket</h4>
                </a>
                <a>
                    <img src="https://static.jazp.com/assets/productcategory/b8fb8a89786f5a8dad0c827b999a38c4.png"
                        alt="Electronics &amp; Tools">
                    <h4>Office Products</h4>
                </a>
                <a>
                    <img src="https://static.jazp.com/assets/productcategory/b247ca969a82b221063d0007390cca10.png"
                        alt="Electronics &amp; Tools">
                    <h4>Watches & glass</h4>
                </a>
                <a>
                    <img src="https://static.jazp.com/assets/productcategory/4c7c90d933f401668bd3ab32d7f5113d.png"
                        alt="Electronics &amp; Tools">
                    <h4>Fashion</h4>
                </a>
                <a>
                    <img src="https://static.jazp.com/assets/productcategory/01f2d2ee01af878398794ead18af1016.png"
                        alt="Electronics &amp; Tools">
                    <h4>Sports</h4>
                </a>
                <a>
                    <img src="https://static.jazp.com/assets/productcategory/dc7b7e6499688189e875737dd35ba39a.png"
                        alt="Electronics &amp; Tools">
                    <h4>Gallery</h4>
                </a>

            </div>
        </div>
    </Div>
</Section>